<div class="search" ng-class="{ bounce:!!results.length }">

  <form>
    <h1 class="search__heading">Farmers' Markets</h1>
    <label class="search__label" for="zipcode">Zip Code</label>
    <span class="search__prefix">in</span>
    <div class="search__input">
      <input id="zipcode" type="text" ng-model="zip" autofocus="autofocus" ng-change="search()">
      <span class="search__spinner" ng-show="loading" us-spinner="{ radius: 5, width: 4, lines: 9, length: 5, color: 'white' }"></span>
    </div>
  </form>

</div>

<div class="search-overlay" ng-hide="!!results.length"></div>

<google-map
  class="search-map"
  draggable="true"
  center="mapOptions.center"
  zoom="mapOptions.zoom"
  options="mapOptions.options"
  >

  <markers fit="true" models="results" coords="'location'"></markers>

  <!-- <circle ng-repeat="c in results"
    radius="mapOptions.circle.radius"
    center="c.location"
    fill="mapOptions.circle.fill"
    stroke="mapOptions.circle.stroke"
    >
  </circle> -->

</google-map>