@import 'config';

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	background: #B8DD45;
	background: white;
}

body {
	@extend %typeface-body;
	padding: 0 1em;
	margin: 0;
}

%cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ----------------------------------------------------------------------------
// Search Form
// ----------------------------------------------------------------------------

.search {
	position: relative;
	color: white;
	z-index: 100;
	text-align: center;
}

.search__heading {
	@extend %typeface-heading;
	font-size: 3em;
	margin: 0.25em 0;
}

.search__label {
	@extend %hide;
}

.search__prefix {
	@extend %typeface-body-italic;
	height: 1em;
	width: 100%;
	line-height: 1.2;
	font-size: 3em;
	text-transform: lowercase;
}

.search__input {
	position: relative;
	display: inline-block;

	input {
		@extend %typeface-body-italic;
		color: white;
		border: none;
		font-size: 3em;
		height: 1.5em;
		padding: 0 0.25em;
		margin-left: 0.25em;
		background: rgba(255, 255, 255, 0.25);
		transition: 0.25s background ease;
		width: 400px;

		&:focus {
			outline: none;
			background: rgba(255, 255, 255, 0.5);
		}
	}

}

.search__spinner {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
}

// ----------------------------------------------------------------------------
// Overlay
// ----------------------------------------------------------------------------

.search-overlay {
	@extend %cover;
	background: rgba(0, 0, 0, 0.5);
	z-index: 50;

	&.ng-hide-add, &.ng-hide-remove {
		transition: 0.25s opacity ease;
	}

	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove {
		opacity: 0;
	}

	&.ng-hide-add,
	&.ng-hide-remove.ng-hide-remove-active {
		opacity: 1;
	}
}

// ----------------------------------------------------------------------------
// Search Map
// ----------------------------------------------------------------------------

.search-map {
	
	.angular-google-map-container {
		@extend %cover;
	}

}

// ----------------------------------------------------------------------------
// Animations
// ----------------------------------------------------------------------------

@import 'animations';