<!DOCTYPE html>
<html ng-app="markets">
<head>
	<title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800|Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

	<div ng-view></div>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/scripts/application.js"></script>
  <script src="/scripts/controllers.js"></script>
  <script src="/scripts/resources.js"></script>

</body>
</html>