<h1 class="search__heading">Farmers' Markets</h1>

<form>
	<label class="search__label" for="zipcode">Zip Code</label>
	<span class="search__prefix">in</span>
	<input id="zipcode" type="text" class="search__input js-input" autofocus="autofocus">
</form>

<div class="search__results js-results"></div>